<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EDMissionStackViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <EDMissionStackViewer.Properties.Settings>
      <setting name="JournalFolders" serializeAs="String">
        <value />
      </setting>
      <setting name="JournalMaxAgeDays" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="ArchiveInactiveJournals" serializeAs="String">
        <value>False</value>
      </setting>
    </EDMissionStackViewer.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="EDMissionStackViewer.log" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="7" />
  </appSettings>
</configuration>